<wm-page name="mainpage" data-ng-controller="MainPageController" pagetitle="Main">
    <wm-header name="header" height="auto" content="header"></wm-header>
    <wm-top-nav name="topnav" content="topnav"></wm-top-nav>
    <wm-content name="content">
        <wm-left-panel name="leftpanel" content="leftnav" columnwidth="2"></wm-left-panel>
        <wm-page-content name="mainContent" columnwidth="8" paddingright="15" paddingleft="15">
            <wm-marquee name="marquee1" accessroles="admin" scrolldelay="3" direction="right"></wm-marquee>
            <wm-container name="container1">
                <wm-livegrid formlayout="dialog" name="livegrid1" service="hrdb@User">
                    <wm-grid gridfirstrowselect="true" deleterow="true" updaterow="true" insertrow="true" readonlygrid="false" title="USER List" dataset="bind:Variables.HrdbUserData.dataSet" navigation="Basic" name="grid1">
                        <wm-grid-column binding="userid" caption="Userid" generator="identity" pcdisplay="true" mobiledisplay="true" type="integer" primary-key="true"></wm-grid-column>
                        <wm-grid-column binding="username" caption="Username" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
                        <wm-grid-column binding="password" caption="Password" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
                        <wm-grid-column binding="role" caption="Role" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
                        <wm-grid-column binding="tenantid" caption="Tenantid" generator="assigned" pcdisplay="true" mobiledisplay="true" type="integer"></wm-grid-column>
                    </wm-grid>
                    <wm-liveform novalidate="false" title="USER Info" formlayout="dialog" dataset="bind:Variables.HrdbUserData.dataSet" captionalign="left" captionposition="top" name="liveform1">
                        <wm-layoutgrid name="layoutgrid1">
                            <wm-gridrow name="gridrow1">
                                <wm-gridcolumn columnwidth="12" show="hide" name="gridcolumn1">
                                    <wm-form-field name="userid" displayname="Userid" required="true" show="false" generator="identity" primary-key="true" key="userid" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn2">
                                    <wm-form-field name="username" displayname="Username" required="false" show="true" generator="assigned" primary-key="false" key="username" type="string" is-related="false" maxchars="20" pc-display="true" mobile-display="true"
                                    widget="text"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow2">
                                <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn3">
                                    <wm-form-field name="password" displayname="Password" required="false" show="true" generator="assigned" primary-key="false" key="password" type="string" is-related="false" maxchars="20" pc-display="true" mobile-display="true"
                                    widget="text"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow3">
                                <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn4">
                                    <wm-form-field name="role" displayname="Role" required="false" show="true" generator="assigned" primary-key="false" key="role" type="string" is-related="false" maxchars="20" pc-display="true" mobile-display="true" widget="text"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow4">
                                <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn5">
                                    <wm-form-field name="tenantid" displayname="Tenantid" required="false" show="true" generator="assigned" primary-key="false" key="tenantid" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true"
                                    widget="number"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow5"></wm-gridrow>
                        </wm-layoutgrid>
                        <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="wi wi-cancel" action="cancel()" display-name="Cancel" show="true" type="button" update-mode="true"></wm-form-action>
                        <wm-form-action key="save" class="form-save btn-success" iconclass="wi wi-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action>
                    </wm-liveform>
                </wm-livegrid>
            </wm-container>
        </wm-page-content>
        <wm-right-panel name="rightpanel" content="rightnav" columnwidth="2"></wm-right-panel>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
</wm-page>